**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target**/.idea
**/target
